#meal-planner {
  transform: scale(0);
}
#meal-planner-root:hover #meal-planner {
  display: block;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
#meal-planner-root:hover .arrow-icon-nav {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
}
